.footer {
    height: 60px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}